<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<production>
    <user>sales_api1.marketresearchstore.com</user>
    <password>NMGL6X7BMZHHF5ZV</password>
    <signature>AFcWxV21C7fd0v3bYYYRCpSSRl31AtnZZb.0W6k-g3GB.0CnlNVA8EYB</signature>
    <returnurl>https://www.marketresearchtrade.com/paypalprocess</returnurl>
    <cancelurl>https://www.marketresearchtrade.com/paypalprocess</cancelurl>
    <companyname>Market Research Trade</companyname>
  </production>-->
  <production>
    <user>support-buyer2_api1.excellentmarketresearch.com</user>
    <password>MQ94BH6D4WCM3DGW</password>
    <signature>ASl.kxkjc6DCPdrEnPiQC1WYPm-XAqvxuCSTNhe.t2duHyCrXJSU7RHs</signature>
    <returnurl>http://localhost:1033/paypalprocess</returnurl>
    <cancelurl>http://localhost:1033/paypalprocess</cancelurl>
    <companyname>Excellent Market Research </companyname>
  </production>
  <!--<test>
    <user>jb-us-seller_api1.paypal.com</user>
    <password>WX4WTU3S8MY44S7F</password>
    <signature>AFcWxV21C7fd0v3bYYYRCpSSRl31A7yDhhsPUU2XhtMoZXsWHFxu-RWy</signature>
    <returnurl>https://www.marketresearchtrade.com/Paymentprocess/Sucess</returnurl>
    <cancelurl>https://www.marketresearchtrade.com/Paymentprocess/Failure</cancelurl>
    <companyname>Excellent Market Research </companyname>
  </test>-->
</configuration>