*\bin\*
*\obj\*
*.suo
ExcellentMarketResearch/bin/*
*.dll
*.xml
*.pdb
*.txt
ExcellentMarketResearch/obj/*
ExcellentMarketResearch/Properties/*
.vs/config/applicationhost.config
.vs/ExcellentMarketResearch/DesignTimeBuild/.dtbcache
*.lock
.vs/*
ExcellentMarketResearch/Web.config
packages/*
ExcellentMarketResearch/Properties/PublishProfiles/FolderProfile.pubxml
ExcellentMarketResearch/Properties/PublishProfiles/FolderProfile.pubxml.user
EMRPaymentLibrary/*
