<?xml version="1.0"?>
<configuration>
  <system.web>

  </system.web>
  <configSections>
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
  </configSections>
  <!-- PayPal SDK settings -->
  <paypal>
    <settings>
      <add name="mode" value="sandbox" />
      <add name="connectionTimeout" value="360000" />
      <add name="requestRetries" value="1" />
      <add name="clientId" value="AQO9YCvH9AqqvQHP1wcaegl5qrroqINm9pQT0GtrLWKI-ZNua_pl7MhPMYPtN3NMgjQ2AsgQOJSpOpZC" />
      <add name="clientSecret" value="EOZi0SrVMxgmcctnmCGOTPc3ycgsfwDBvc34BKtKJ1wNQalfmd2kOMcR5RzyfTfJs_QLJcGMbcuIJqN6" />
    </settings>
  </paypal>
</configuration>
