@{
    ViewBag.Title = "loginfailed";
    Layout = null;
}


<div style="font-family: Calibri; font-size: 25px; color: red; margin-left: 100px; margin-top: 150px;">
    Sorry you are unable to login please enter valid User Id and Password !.
</div>

<div class="row">
    <div style="margin-left: 100px;">
        @Html.ActionLink("Please Login", "Login", "Adminlogin")
    </div>
</div>

















