@{
    ViewBag.Title = "Thank you...";
}
<style>
    #firstdiv {
        background-color: #CCCCCC;
        padding: 20px;
        border: 1px solid #999999;
    }

    #seconddiv {
        background-color: #ffffff;
        padding: 10px;
    }
</style>
<div id="firstdiv">
    <div id="seconddiv">
        <h4>@ViewBag.Name,</h4>
        <p style="font-family:Calibri;font-size:18px;">
            Thank You For Requesting Sample!
            We appreciate your business and will get your request for Sample sent to you right away. <br />
            If you are looking for a specific report feel free to contact our representative <br />
            GMT Tel: +1-312-588-9716 <br />
            Email - <a href="#" target="_top">sales@excellentmarketresearch.com

        </p>
        @*<p>
            <hr />
            <pre>
                @*     Warm regards,
        Market Research Trade 
        3422 SW 15 Street,Suit #8138,
        Deerfield Beach,Florida 33442, USA
        Tel: +1-386-310-3803GMT  |  Tel: +49-322 210 92714
        USA/Canada Toll Free No.1-855-465-4651
        Email: <a href="#" target="_top">sales@marketresearchtrade.com</a>    |       Web: <a href="http://www.#com">http://www.Excellent.com</a>
		* @
                    </pre>*@
    </div>
</div>
