@{
    ViewBag.Title = "About";
}


<section class="page-title-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header-wrap">
                    <div class="page-header">
                        <h1>About us</h1>
                    </div>
                    <ol class="breadcrumb">
                        <li><a href="@Url.Action("index", "Home")">Home</a></li>
                        <li class="active">About</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- about-intro-section -->
<section class="about-intro-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="about-intro">
                    <h2>Welcome to Excellent Market Research</h2>

                    <p class="about-us-title"><b>Importance of Market Research</b></p>

                    <p>
                        Research, the most significant tool of man’s evolution, progress &amp;
growth becomes even more significant when it is applied to market. It
decides the fate of an enterprise. Winning or losing depends entirely on
the keen understanding of the perennial need of consumers. Excellent
Market Research is adept in this scientific art.
                    </p>

                    <div class="company-in-number">
                        <div class="row">
                            <div class="col-xs-4 branch clearfix">
                                <i class="flaticon-international34"></i>

                                <div class="number-info">
                                    <strong><span class="timer">2</span></strong>
                                    <span class="facts-description">Branch Office</span>
                                </div>

                            </div>
                            <!-- /.col-sm-3 -->

                            <div class="col-xs-4 employee clearfix">
                                <i class="flaticon-logistics31"></i>

                                <div class="number-info">
                                    <strong><span class="timer">10</span></strong>
                                    <span class="facts-description">Employees</span>
                                </div>
                            </div>
                            <!-- /.col-sm-3 -->

                            <div class="col-xs-4 delivery clearfix">
                                <i class="flaticon-logistics20"></i>

                                <div class="number-info">
                                    <strong><span class="timer">Comming Soon</span></strong>
                                    <span class="facts-description">Delivery every year</span>
                                </div>
                            </div>
                            <!-- /.col-sm-3 -->
                        </div>
                    </div>
                </div>
                <!-- /.about-intro -->
            </div>
            <!-- /.col-md-7 -->
            <div class="col-md-5"></div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /.about-intro-section -->

<!--mission-section -->
<section class="mission-section">
    <div class="container">
        <div class="text-center">
            <h2 class="section-title">About Us</h2>
            <span class="section-sub">Excellent Market Research</span>
        </div>

        <div class="col-md-12">
            <div class="our-values">
                <p>
                    Excellent Market Research is a highly reputed market research and consumer
                                consulting organization. Excellent Market Research partners its clients across
                                the entire brand life-cycle through a unique mix of innovation and analytical
                                thinking to design customized solutions that deliver the greatest impact.
                </p>
                <p>
                    Excellent Market Research suites of solutions are designed on frugal, agile
                        innovation and add value, real value, to help clients make impactful decisions.
                        By leveraging on its large array of syndicated services and specialist divisions,
                        Excellent Market Research helps clients in crafting marketing and consumer
                        strategies.
                </p>
                <p>
                    Excellent Market Research has created products and frameworks for global
                        clients using the expertise and knowledge of emerging markets.
                </p>
                <p>
                    We carry out market research for new business, new brands, new products,
                        new techniques of Business, new methods of development, new ways of
                        competence. In fact we try to replace the &quot;new&quot; word as maximum as possible
                        with &quot;old &quot; word.
                </p>
                <p>
                    Excellent Market Research focuses on providing actionable solutions to
                        address key business issues. Associations with wide Industry verticals have
                        enabled it to understand the typicality and key requirements of each business
                        type.
                </p>
                <p>
                    Over the last decade of our existence, we have been versatile in thoughts;
                        strong and unrelenting in operations. Our work is admired beyond the
                        geographical boundaries.
                </p>
                <p>
                    Today we are the preferred partners of global leaders and our achievements
                        narrate a story of our determination to succeed and our passion to win. We
                        are committed to leverage opportunities in creating excellence.
                </p>
            </div>
        </div>
        <!-- /.col-md-12 -->

    </div>
    <!-- /.container -->
</section>