<section class="page-title-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header-wrap">
                    <div class="page-header">
                        <h1></h1>
                    </div>
                    <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li><a>Reports</a></li>
                        <li class="active">Report Details</li>
                    </ol>
                </div>
                <div>
                    @{Html.RenderAction("SearchingPartialView","Home");}
                </div>
            </div>
        </div>
    </div>
</section>