@{
    ViewBag.Title = "TermsAndCondition";
}

<section class="page-title-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header-wrap">
                    <div class="page-header">
                        <h1>@ViewBag.Message</h1>
                    </div>
                    <ol class="breadcrumb">
                        <li><a href="@Url.Action("index", "Home")">Home</a></li>
                        <li class="active">@ViewBag.Message</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="faq-contents">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-5 col-xs-12">
                <div class="service-sidebar sidebar-wrapper">
                    @{Html.RenderAction("PartialCat", "Category");}
                </div>
                <!-- /.sidebar-wrapper -->
            </div>
            <!-- /.col -->
            <div class="col-md-9 col-sm-7 col-xs-12">
                <div class="faq-accordions">
                    <div class="accordion" id="accordion">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">TERMS OF SERVICE
                                </a>
                            </div>
                            <div id="collapseOne" class="accordion-body collapse in">
                                <div class="accordion-inner">
                                    <p>Effective day 1st Sep 2018</p>

                                    <p>
                                        This Excellent Market Research Subscription Terms of Service <b>("Agreement")</b> is entered
into by and between the Excellent Market Research entity set forth below <b>("Excellent Market Research")</b> and the entity or person placing an order for or accessing any Services
                                                        <b>("Customer" or "you")</b>. If you are accessing or using the Services on behalf of your
company, you represent that you are authorized to accept this Agreement on behalf of your company, and all references to "you" or "Customer" reference your company. This Agreement permits Customer to purchase subscriptions to online software-as-a-
service products and other products and services from Excellent Market Research pursuant to any Excellent Market Research ordering documents, online registration, order
descriptions or order confirmations referencing this Agreement <b>("Order Form(s)")</b> and sets forth the basic terms and conditions under which those products and services will be
delivered. This Agreement will govern Customer's initial purchase on the Effective Date as well as any future purchases made by Customer that reference this Agreement.
The <b>"Effective Date"</b> of this Agreement is the date which is the earlier of (a) Customer's initial access to any Service (as defined below) through any online provisioning,
registration or order process or (b) the effective date of the first Order Form referencing this Agreement.
                                    </p>
                                    <p>As used in this Agreement, "Excellent Market Research" means (a) Excellent Market Research.</p>

                                    <p>
                                        <b>Modifications to this Agreement</b> : From time to time, Excellent Market Research may
modify this Agreement. Unless otherwise specified by Excellent Market Research, changes
become effective for Customer upon renewal of Customer's current Subscription Term (as
defined below) or entry into a new Order Form. Excellent Market Research will use
reasonable efforts to notify Customer of the changes through communications via
Customer's account, email or other means. Customer may be required to click to accept or
otherwise agree to the modified Agreement before renewing a Subscription Term or
entering into a new Order Form, and in any event continued use of the Services after the
updated version of this Agreement goes into effect will constitute Customer's acceptance of
such updated version. If Excellent Market Research specifies that changes to the Agreement
will take effect prior to Customer's next renewal or order (such as for legal compliance or
product change reasons) and Customer objects to such changes, Customer may terminate
the applicable Subscription Term and receive as its sole remedy a refund of any fees
Customer has pre-paid for use of the applicable Services for the terminated portion of the
Subscription Term.
                                    </p>


                                    <p>
                                        <b>BY INDICATING YOUR ACCEPTANCE OF THIS AGREEMENT OR ACCESSING OR USING
ANY SERVICES, YOU ARE AGREEING TO BE BOUND BY ALL TERMS, CONDITIONS, AND
NOTICES CONTAINED OR REFERENCED IN THIS AGREEMENT. IF YOU DO NOT AGREE
TO THIS AGREEMENT, PLEASE DO NOT USE ANY SERVICES. FOR CLARITY, EACH
PARTY EXPRESSLY AGREES THAT THIS AGREEMENT IS LEGALLY BINDING UPON IT.
THIS AGREEMENT CONTAINS MANDATORY ARBITRATION PROVISIONS THAT
REQUIRE THE USE OF ARBITRATION TO RESOLVE DISPUTES, RATHER THAN JURY
TRIALS. PLEASE READ IT CAREFULLY.</b>
                                    </p>

                                    <p>
                                        <b>1.1 Definitions<br />
                                        </b>&nbsp;<b>"Affiliate"</b> means any entity under the control of Customer where "control" means
ownership of or the right to control greater than 50% of the voting securities of such entity.
                                    </p>

                                    <p>
                                        <b>"AUP"</b> means Excellent Market Research's Acceptable Use Policy, available at or a
successor URL. <a href="/">www.excellentmarketresearch.com</a>
                                    </p>

                                    <p>
                                        <b>"Contractor"</b> means an independent contractor or consultant who is not a competitor of
Excellent Market Research.
                                    </p>

                                    <p>
                                        <b>"Customer Data"</b> means any data of any type that is submitted to the Services by or on
behalf of Customer, including without limitation: (a) data submitted, uploaded or imported
to the Services by Customer (including from Third Party Platforms) and (b) data provided
by or about People (including chat and message logs) that are collected from the Customer
Properties using the Services.
                                    </p>
                                    <p>
                                        <b>"Customer Properties"</b> means Customer's websites, apps, or other offerings owned and
operated by (or for the benefit of) Customer through which Customer uses the Services to
communicate with People.
                                    </p>
                                    <p>
                                        <b>"Dashboard"</b> means Excellent Market Research's user interface for accessing and
administering the Services that Customer may access via the web or the Excellent Market
Research Apps.
                                    </p>
                                    <p><b>"Documentation"</b> means the technical user documentation provided with the Services.</p>
                                    <p>
                                        <b>"Feedback"</b> means comments, questions, suggestions or other feedback relating to any
Excellent Market Research product or service.
                                    </p>
                                    <p>
                                        <b>"Excellent Market Research App"</b> means any mobile application or desktop client
software included in the applicable Service that is made available by Excellent Market
Research.
                                    </p>
                                    <p>
                                        <b>"Excellent Market Research Code"</b> means certain JavaScript code, software development
kits (SDKs) or other code provided by Excellent Market Research for deployment on
Customer Properties.
                                    </p>
                                    <p>
                                        <b>"Laws"</b> means all applicable local, state, federal and international laws, regulations and
conventions, including, without limitation, those related to data privacy and data transfer,
international communications, and the exportation of technical or personal data.
                                    </p>
                                    <p>
                                        <b>"People"</b> (in the singular, <b>"Person"</b>) means Customer's end user customers, potential
customers, and other users of and visitors to the Customer Properties.
                                    </p>
                                    <p>
                                        <b>"Permitted User"</b> means an employee or Contractor of Customer or its Affiliate who is
authorized to access the Service.
                                    </p>

                                    <p>
                                        <b>"Sensitive Personal Information"</b> means any of the following: (i) credit, debit or other
payment card data subject to the Payment Card Industry Data Security Standards (<b>"PCI
DSS"</b>); (ii) patient, medical or other protected health information regulated by the Health
Insurance Portability and Accountability Act <b>("HIPAA")</b>; or (iii) any other personal data of
an EU citizen deemed to be in a "special category" (as identified in EU Data Protection
Directive 95/46/EC or any successor directive or regulation).
                                    </p>
                                    <p>
                                        <b>"Services"</b> means Excellent Market Research's proprietary software-as-a-service
solution(s), including the Dashboard, Excellent Market Research application programming
interfaces (APIs), Excellent Market Research Code and Excellent Market Research Apps, as
described in the applicable Order Form.
                                    </p>
                                    <p>
                                        <b>"Taxes"</b> means any sales, use, GST, value-added, withholding, or similar taxes or levies,
whether domestic or foreign, other than taxes based on the income of Excellent Market
Research.
                                    </p>
                                    <p>
                                        <b>"Third-Party Platform"</b> means any software, software-as-a-service, data sources or other
products or services not provided by Excellent Market Research that are integrated with
Services as described in the Documentation.
                                    </p>
                                </div>
                            </div>
                            <!-- /.accordion-group-->
                        </div>
                        <!-- /.accordion-group-->
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Privacy Policy
                                </a>
                            </div>
                            <div id="collapseTwo" class="accordion-body collapse">
                                <div class="accordion-inner">

                                    <p>
                                        If you are a visitor to an Excellent Market Research Website or a customer of an Excellent
Market Research Service, then except as expressly set forth below, this Privacy Policy
applies to your use of such Website or Service.
                                    </p>
                                    <p>
                                        If you are a visitor to or user of a third-party website or service (“Third-Party Property“)
that utilizes any Excellent Market Research products, then any information you submit to
such Third-Party Property (including via the Excellent Market Research product) is
collected under the privacy policy of the owner of such Third-Party Property, and you
should contact such owner with any related requests or inquiries you may have. If you have
any inquiries specifically directed towards Excellent Market Research, please email us
at sales@excellentmarketresearch.com
                                    </p>
                                    <p>
                                        At Excellent Market Research, we respect the privacy rights of our users and recognize the
importance of protecting the personal information we collect about you. Our Privacy Policy
is designed to help you understand what information we collect and how we use and share
that information. This Privacy Policy applies to our Websites and Services.
                                    </p>
                                    <p>
                                        As used in this Privacy Policy, <b>"Excellent Market Research"</b>, <b>"us"</b> and <b>"we"</b> refers to
Excellent Market Research, Inc. The “Websites“ means Excellent Market
Research's websites (including without limitation <a href="/">www.excellentmarketresearch.com</a>
                                        .Excellent Market Research.io, and any successor URLS, mobile or localized versions and
related domains and subdomains), and the <b>“Services“</b> means Excellent Market
Research“s products, applications and services, in each case in whatever format they may
be offered now or in the future. The Websites and Services are collectively referred to
herein as the "Offerings."
                                    </p>
                                    <p><span><b>2.1 Information We Collect</b></span></p>
                                    <p>
                                        <b>A. Information Related to Your Interaction with Excellent Market Research and the
Offerings.</b>
                                    </p>
                                    <p>
                                        <b>Registration and Contact Information.</b> We collect information about you when you (a)
register to use the Services and (b) otherwise provide contact information to us via email,
mail, or through our Offerings. This information you provide may include your username,
first and last name, email address, mailing address or phone number.
                                    </p>
                                    <p>
                                        <b>Payment Information.</b> When you purchase the Services, we will also collect transaction
information, which may include your credit card information, billing and mailing address,
and other payment-related information <b>(“ Payment Information“)</b>. We describe how
Payment Information may be collected and processed in Section 4.
                                    </p>
                                    <p>
                                        <b>Technical, Usage and Location Information.</b> We automatically collect information on
how you interact with the Offerings, such as the IP address from which you access the
Offerings, date and time, information about your browser, operating system and computer
or device, pages viewed and items clicked. We may also collect location information,
including location information automatically provided by your computer or device. We use
cookies and similar technologies to collect some of this information. For more information,
please see Excellent Market Research's.
                                    </p>
                                    <p>
                                        <b>Third Party Platforms.</b> We may collect information when you interact with our
advertisements and other content on third-party sites or platforms, such as social
networking sites. This may include information such as “Likes“, profile information
gathered from social networking sites or the fact that you viewed or interacted with our
content.
                                    </p>
                                    <p>
                                        <b>Other Information.</b> We may collect other information from you that is not specifically
listed here. We may use any such information in accordance with this Privacy Policy or as
otherwise permitted by you.
                                    </p>
                                    <p>
                                        <b>B. Customer Data.</b><br />
                                        You may submit various types of information and data into the Services for hosting and
processing purposes (“Customer Data“).
                                    </p>
                                    <br />

                                    <p>2.2 How We Use the Information We Collect</p>
                                    <p>We use your information in the following ways:</p>
                                    <ul>
                                        <li>To provide, maintain and improve the Offerings and our other products and services,
including to operate certain features and functionality of the Offerings (for example, by
remembering your information so that you will not have to re-enter it during this or
subsequent visits);</li>
                                        <li>To process your inquiries and otherwise deliver customer service;</li>
                                        <li>To process your payments, we share and use Payment Information as described in Section
4 (Payment Information);</li>
                                        <li>To control unauthorized use or abuse of the Offerings and our other products and services,
or otherwise detect, investigate or prevent activities that may violate our policies or be
illegal;</li>
                                        <li>To analyze trends, administer or optimize the Offerings, monitor usage or traffic patterns
(including to track users“ movements around the Offerings) and gather demographic
information about our user base as a whole;</li>
                                        <li>To communicate directly with you, including by sending you newsletters, promotions and
special offers or information about new products and services. Your opt-out options for
promotional communications are described in Section 6 (Your Controls and Choices);</li>
                                        <li>To deliver you advertising, including by serving and managing ads on the Offerings or on
third party sites and to tailor ads based on your interests and browsing history. In the
manner described to you at the time of collection or as otherwise described in this Privacy
Policy.</li>
                                    </ul>

                                    <p><b>2.3 Sharing Your Information with Third Parties</b></p>
                                    <p>
                                        We do not sell, trade, share or transfer your personal information to third parties except in
the following limited circumstances:
                                    </p>
                                    <ul>
                                        <li>We may share your personal information with our parent companies, subsidiaries and
affiliates;</li>
                                        <li>We may share your personal information with third-party service providers to permit such
parties to provide services that help us with our business activities, which may include
assisting us with marketing, advertising our product/service offerings, or providing,
maintaining and improving the features and functionality of the Offerings, among other
things. For example, we may provide personal information to our service providers for
direct emailing of our newsletters or notifications of our product/service offerings;</li>
                                        <li>We may share your personal information when we have a good faith belief that access, use,
preservation or disclosure of such information is reasonably necessary to (a) satisfy any
applicable law, regulation, legal process or enforceable governmental request, (b) enforce a
Customer Agreement, including investigation of potential violations thereof, or (c) protect
against imminent harm to our rights, property or safety, or that of our users or the public
as required or permitted by law;</li>
                                        <li>We may share your personal information with third parties (including our service
providers and government entities) to detect, prevent, or otherwise address fraud or
security or technical issues;</li>
                                        <li>We may share your personal information with our business partners who offer a service to
you jointly with us, for example when running a cross-promotion;</li>
                                        <li>We may share your Payment Information to process your payments, as further described in
Section 4 (Payment Information);</li>
                                        <li>We may share and/or transfer your personal information if we become involved in a
merger, acquisition, bankruptcy, or any form of sale of some or all of our assets;</li>
                                        <li>We may share your personal information with a third party if we have your consent to do
so.</li>
                                    </ul>
                                    <p>
                                        We may also share aggregated or anonymized information with third parties for other
purposes. Such information does not identify you individually, but may include usage,
viewing and technical information such as the types of Offerings our customers and users
generally use, the configuration of their computers, and performance metrics related to the
use of Offerings which we collected through our technology. If we are required under
applicable law to treat such information as personal information, then we will only disclose
it as described above. Otherwise we may disclose such information for any reason.
                                    </p>
                                    <p><b>2.4 Payment Information</b></p>
                                    <p>
                                        When you make a purchase on the Offerings, any credit card information you provide as
part of your Payment Information is collected and processed directly by our payment
processor Stripe through their Stripe Checkout service. We never receive or store your full
credit card information. Stripe commits to complying with the Payment Card Industry Data
Security Standard (PCI-DSS) and using industry standard security. Stripe may use your
Payment Information in accordance with their own Privacy
                                    </p>
                                    <p><b>2.5 Other Access to or Disclosure of Your Information</b></p>
                                    <p>
                                        The Offerings may also contain links to third party websites. This Privacy Policy applies
solely to information collected by us. Even if the third party is affiliated with us through a
business partnership or otherwise, we are not responsible for the privacy practices of such
third party. We encourage you to familiarize yourself with the privacy policies of such third
parties to determine how they handle any information they separately collect from you.
Please be aware that we do not warn you when you choose to click through to another
website when using the Offerings.
                                    </p>
                                    <p>
                                        The Websites contain features that enable you to post reviews, comments or other content
that is publicly viewable. You should be aware that any personal information you submit as
part of those posts can be read, collected, or used by other visitors to the Websites, and
could be used to send you unsolicited messages. We are not responsible for the personal
information you choose to publicly post on the Websites. Please see our for more
information and for other guidelines about posting content on the Websites.
                                    </p>
                                </div>
                            </div>
                            <!-- /.accordion-body-->
                        </div>
                        <!-- /.accordion-group-->
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Return Policy
                                </a>
                            </div>
                            <div id="collapseThree" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    We support the "no return" policy. One should check all the details of the product before
making a payment/confirmation. We provide the all the details and one should make sure
they have read and reviewed the details and then only they have placed the order.
Information available before buying product include the table of contents and summary,
and you can even access the sample of any products for free. If you have any doubts or
queries about the product you Email us at sales@excellentmarketresearch.com.
                                </div>
                            </div>
                            <!-- /.accordion-body-->
                        </div>
                        <!-- /.accordion-group-->
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Dispatch Policy
                                </a>
                            </div>
                            <div id="collapseFour" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <p><b>Shipping</b></p>
                                    <p>
                                        <ul>
                                            <li>All of our industry reports are sent via email as a pdf/ Word/ Excel documents.</li>
                                        </ul>
                                    </p>
                                    <p><b>Delivery Time</b></p>
                                    <p>
                                        <ul>
                                            <li>When you place an order with Excellent Market Research, we endeavor to deliver as
soon as possible. Electronic delivery is generally done within 24 to 72 hours of
purchase and pre-booked reports are delivered on the date of report release.
                                            </li>
                                        </ul>
                                    </p>

                                    <p>Return/Refund Policy</p>
                                    <p>
                                        <ul>
                                            <li>The nature of the information being sold means that we cannot accept returns of or
refund for products once they have been dispatched.</li>
                                        </ul>
                                    </p>
                                    <p><b>Disclaimer</b></p>
                                    <p>
                                        <ul>
                                            <li>Excellent Market Research is not responsible for any loss or damage suffered by you
directly or indirectly, as a result of our delay in/failure to deliver the data/report
due to circumstances beyond our control, including but not limited to natural
disasters, labor strikes, war, riot, civil disorder, embargo and government
regulations or restrictions of any and all kinds. Delivery time shall be extended in
such conditions, allowing us reasonable time to fulfill your requirements.</li>
                                            <li>Excellent Market Research and its affiliates and sponsors are neither responsible
nor liable for any direct, indirect, incidental, consequential, special, exemplary,
punitive, or other damages arising out of or relating in any way to your use of our
research.</li>
                                        </ul>
                                    </p>

                                    <p><b>Copyright</b></p>
                                    <p>
                                        <ul>
                                            <li>You agree not to resell any part of the data/report you receive from us in a manner
that competes with our products and services, without the express written
permission of Excellent Market Research.</li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                            <!-- /.accordion-body-->
                        </div>
                        <!-- /.accordion-group-->
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Terms & Conditions for use of the content on the Site
                                </a>
                            </div>
                            <div id="collapseFive" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <p>
                                        <ul>
                                            <li>The Copyright in all of the Copyright works contained within these pages is either
owned by Excellent Market Research or licensed to it. Any part or all of the contents
of any of these pages may not be used, distributed or copied for any commercial
purpose unless otherwise noted.</li>
                                            <li>The information on this Site has been included in good faith for general
informational purposes only. The information should not be relied upon for any
specific purpose and no representation or warranty is given as to its accuracy or
completeness.</li>
                                            <li>We shall not be liable to you for any loss that you suffer (including, without
limitation, damages for any consequential loss or loss of business opportunities or
projects, or loss of profits) howsoever arising, whether in contract, tort or otherwise
from your use or inability to use this Site, or any of its contents, or from any action
or omission taken as a result of using this Site provided that nothing in these terms
shall exclude or limit our liability for personal injury or death caused by our
negligence.</li>
                                            <li>By submitting personal information via any of the online forms on the site, you
consent to being contacted (either by phone or email) by a representative of
Excellent Market Research</li>

                                        </ul>
                                    </p>
                                </div>
                            </div>
                            <!-- /.accordion-body-->
                        </div>
                        <!-- /.accordion-group-->
                    </div>
                </div>
                <!-- /.faq-accordions -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
