@{
    ViewBag.Title = "Thank you...";
}
<style>
    #firstdiv {
        background-color: #CCCCCC;
        padding: 20px;
        border: 1px solid #999999;
    }

    #seconddiv {
        background-color: #ffffff;
        padding: 10px;
    }
</style>
<div id="firstdiv">
    <div id="seconddiv">
        <h4>@ViewBag.Name,</h4>
        <p style="font-family: Calibri; font-size: 18px;">
            Thank You For Contacting Us !
         We will contact you as early as possible.
            <br />
            Are you are looking for a any specific report ?  free to contact our representative.
            <br />
            GMT Tel: +49-322 210 92714 | USA/Canada Toll Free No. 1-855-465-4651
            <br />
            Email - <a href="#" target="_top">sales@ExcellentMarketResearch.com
   
        </p>
        
            
    </div>
</div>
